<section class="bg-green-light flex flex-wrap slider-wrapper relative">
    <div class="w-10/12 tablet:w-11/12">
        <div class="slider w-full">
        {% for slide in post.meta('image_slider') %}
            <div class="w-full" style="background-image: url({{ Image(slide).src }}); background-size: cover; background-position: center; height: 60vw"></div>
        {% endfor %}
        </div>
    </div>

    <div class="w-2/12 tablet:w-1/12 text-large flex flex-wrap content-center slider-navigation">
    {% for slide in post.meta('image_slider') %}
        <div class="w-full py-5 text-center slider-button" data-slide="{{ loop.index0 }}"><a>0{{ loop.index }}</a></div>
        {% endfor %}
    </div>
</section>