<section class="px-10 py-16 bg-green/2">
    <div class="w-full">
        <h2 class="text-larger">Referenties</h2>
    </div>
    <div class="flex flex-wrap -mx-5/2 py-16">
        <div class="w-1/4 px-5/2"></div>
        <div class="w-1/2 px-5/2">
            <p class="text-large mb-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p class="ml-5">
                <span class="reference-name font-bold">
                    Voornaam Achternaam
                </span><br>
                Organisatie B.V. 
            </p>
        </div>
        <div class="w-1/6 px-5/2"></div>
        <div class="w-1/12 px-5/2 flex flex-wrap content-start">
            <div class="w-full py-5">01</div>
            <div class="w-full py-5">02</div>
            <div class="w-full py-5">03</div>
            <div class="w-full py-5">04</div>
        </div>
    </div>
</section>

<section class="w-full">
    <img src="https://dummyimage.com/1440x340/888/bbb" class="block w-full h-auto">
</section>