{% extends 'base.twig' %}

{% block header %}
<header class="px-5 tablet:px-10 py-10 h-20 flex flex-wrap content-between">
    <div class="w-full">
        <a class="no-border" href="{{ site.url }}"><img src="{{ theme.link }}/assets/images/logo-dark.svg" alt=""></a>
    </div>
</header>
{% endblock %}

{% block content %}

<section class="px-5 tablet:px-10 py-10 flex flex-wrap">
    <div class="w-11/12 tablet:w-10/12 desktop:w-8/12 ml-0 tablet:ml-1/12">
        <h2 class="text-large text-bod mb-10">{{ post.title }}</h2>
        {{ post.content }}
    </div>
</section>

{% endblock %}

{% block footer %}
{# silence #}
{% endblock %}