{% extends 'base.twig' %}

{% block header %}
    <header class="px-5 tablet:px-10 py-10 bg-green-dark text-green h-screen">
        <div class="-ml-5/2 flex flex-wrap content-between h-full">
        <div class="w-full px-5/2">
            <img src="{{ theme.link }}/assets/images/logo.svg" alt="">
        </div>

        <div class="w-5/6 px-5/2 ml-0 tablet:ml-5/2">
            <p class="text-larger mb-12">
                Investeren in het<br>
                commercieel vastgoed<br>
                van de toekomst
            </p>
        </div>
        </div>
    </header>
{% endblock %}

{% block content %}

    {% include '/partials/text.twig' with {
        'title': 'over braintown'
    } %}

    {% include '/partials/text-expander.twig' with {
        'title': 'Asset Management'
    } %}

    {% include '/partials/text-expander.twig' with {
        'title': 'Duurzaamheid'
    } %}

    {% include '/partials/projects.twig' %}

    {% include '/partials/reference.twig' %}

{% endblock %}

