{% extends 'base.twig' %}

{% block header %}
    <header class="px-10 py-10 bg-green-dark text-green flex flex-wrap content-between h-screen">
        <div class="w-full">
            <img src="{{ theme.link }}/assets/images/logo.svg" alt="">
        </div>

        <div class="w-5/6 mx-auto mb-10">
            <p class="text-larger mb-12">
                Investeren in het<br>
                commercieel vastgoed<br>
                van de toekomst
            </p>
        </div>
    </header>
{% endblock %}

{% block content %}

    {% include '/partials/text.twig' with {
        'title': 'over braintown'
    } %}

    {% include '/partials/text-expander.twig' with {
        'title': 'Asset Management'
    } %}

    {% include '/partials/text-expander.twig' with {
        'title': 'Duurzaamheid'
    } %}

    {% include '/partials/projects.twig' %}

    {% include '/partials/reference.twig' %}

{% endblock %}

